<div class="reviews">
    <div class="reviews1">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

    <div class="reviews2">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__text">
                        This budget management app has truly revolutionized the way we handle finances in our corporation. Its user-friendly interface and powerful features make budget tracking a breeze.
                    </div>
                    <div class="review__footer">
                        <div class="review__footer">
                            <div class="review__footer__image">
                                <img src="{{ theme.link ~ '/images/rev.svg' }}" alt="">
            
                            </div>
                            <div class="review__footer__sign">
                                <div class="name">Christopher Thompson</div>
                                <div class="role">Budget Planner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

    <div class="swiper-nav">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>



</div>