{% include "parts/header.twig" %}
{% include "components/form.twig" %}

<main class="page-home">

  <section class="baner">
    <div class="row">
      <div class="column">
        <div class="baner-wrapper">
          <div class="baner__title h2">
            Procurement magic? <span>TA-DA!</span>
          </div>
          <div class="baner__subtitle body-medium">
            Logintrade is an AI-first procurement platform that automates spend management making it much less daunting and much more efficient. And you know what? It does feel like magic!
          </div>
          <div class="baner__btns">
            <a href="" class="btn btn--second">How it works?</a>
            <a href="" class="btn book-btn">Book a demo {% include 'svg/arrow-right.svg' %}</a>
          </div>

        </div>

      </div>
    </div>
    <div class="baner__image">
      <img src="{{ theme.link ~ '/images/screens2.svg' }}" alt="">
    </div>

    <div class="baner__spark">
      {% include "views/svg/spark-right-bottom.svg" %}
    </div>

  </section>
  <section class="section-budget">
    <div class="row">
      <div class="column">
          <div class="section-budget__header">
            <div class=""  data-fx="fadeInUpSmall">
              {% include "views/svg/pre-title.svg" %}
            </div>
              

              <div class="section-title"  data-fx="fadeInUpSmall">Admin overhead eating away
                at your budget? <span>TA-DA!</span>
              </div>
              <div class="body-medium" data-fx="fadeInUpSmall" >Get all the tools you need to spend less time and effort controlling spend
                and managing finance operations. Just like that.
              </div>
          </div>
        </div>
      </div>

      <div class="boxes-wrapper">
        
        <div class="row">
          <div class="column">
            <div class="section-budget__boxes">
              <div class="box tl off-white"></div>
              <div class="box bl off-white"></div>
              <div class="box bl2 off-white"></div>

              <div class="box b1 off-white"></div>
              <div class="box b2 off-white"></div>
              <div class="box b3 off-white"></div>
              <div class="box b4 off-white"></div>


              <div class="box r1 off-white"></div>
              <div class="box r2 off-white"></div>
              <div class="box r3 off-white"></div>


              <div class="left">
                <div class="box" data-fx="fadeInUpSmall">
                  <div class="box__header">
                    <div class="box__header__icon">
                      {% include "views/svg/av1.svg" %}
      
                    </div>
                    <div class="box__header__text">
                      Spark Chat
                    </div>
                  </div>
                  <div class="box__text p-medium">
                    Your Magic Helper that will find the best vendors, compare offers, collect data, and find the best solutions. No crystal ball necessary.
                  </div>
                  <div class="box__image">
                    <img src="{{ theme.link ~ '/images/vis1.svg' }}" alt="relax">
      
                  </div>
                </div>
                <div class="box" data-fx="fadeInUpSmall">
                  <div class="box__header">
                    <div class="box__header__icon">
                      {% include "views/svg/intake.svg" %}
      
                    </div>
                    <div class="box__header__text">
                      Intake
                    </div>
                  </div>
                  <div class="box__text p-medium">
                    Submit requests in smart, friendly, and AI-connected forms that you can tailor just the way you and your team need them. 
                  </div>
                  <div class="box__image">
                    <img src="{{ theme.link ~ '/images/vis2.svg' }}" alt="relax">

      
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="box" data-fx="fadeInUpSmall">
                  <div class="box__header">
                    <div class="box__header__icon">
                      {% include "views/svg/self.svg" %}

                    </div>
                    <div class="box__header__text">
                      Self-running negotiations
                    </div>
                  </div>
                  <div class="box__text p-medium">
                    Get the best deals and stay within your budget without spending time negotiating.<br>
                    AI will do it for you. Magic!
                  </div>
                  <div class="box__image">
                    <img src="{{ theme.link ~ '/images/vis3.svg' }}" alt="relax">

      
                  </div>
                </div>
                <div class="box" data-fx="fadeInUpSmall">
                  <div class="left">
                
                    <div class="box__header">
                      <div class="box__header__icon">
                        {% include "views/svg/market.svg" %}
        
                      </div>
                      <div class="box__header__text">
                        Market scanner
                      </div>
                    </div>

                    <div class="box__text p-medium">
                      With just a click, conjure up all the online stores, catalogs, product cards, and marketplaces in an instant.<br><br>It's like waving a magic wand to access a world of shopping possibilities.
                    </div>

                  </div>
                 
                  <div class="box__image">
                    <img src="{{ theme.link ~ '/images/vis4.svg' }}" alt="relax">
                  </div>

                  

                </div>
              </div>
      
            </div>
          </div>
        </div>
      </div>



        </div>
      </div>



      </div>
    </div>
  </section>

  <section class="section-one" data-fx="fadeInUpSmall">
    <div class="row">
      <div class="column">
          <div class="section-one__header">
            <div class="section-title" data-fx="fadeInUpSmall">
              One platform, countless magic spells.
            </div>
            <div class="body-medium" data-fx="fadeInUpSmall">
              Discover all the magic that makes procurement so much easier.
            </div>
            <a href="" class="btn book-btn" data-fx="fadeInUpSmall">Book a demo {% include 'svg/arrow-right.svg' %}</a>

          </div>
      </div>
    </div>
  </section>

  <section class="section-personas">
    <div class="section-personas__spark">
      {% include "views/svg/sparktl.svg" %}
    </div>
    <div class="section-personas__arrow">
      {% include "views/svg/arrow-top.svg" %}
    </div>

    <div class="row">
      <div class="column">
        <div class="section-personas__header">
          <div data-fx="fadeInUpSmall">
            {% include "views/svg/av-sp.svg" %}
          </div>
       

          <div class="h5" data-fx="fadeInUpSmall">
            Your teams don’t need a magic trick.
          </div>


          <div class="section-title" data-fx="fadeInUpSmall">
            They need <span>Logintrade</span>.
          </div>

        </div>

        <div class="boxes">
          <div class="left">



            <div class="boxes__item" data-fx="fadeInUpSmall" >

              <div class="boxes__item__info">
                  <div class="boxes__item__info__header">
                    <div class="icon">
                      {% include "views/svg/pro.svg" %}
                    </div>

                    <div class="title h7">Procurement</div>
                  </div>
                  <div class="text body-medium">
                    Negotiations, purchases, purchase categories, comparisons and benchmarks, looking up vendors, and finding best prices.<br><br>
                    Already got a headache? Make it go away with Logintrade and smart automations you’ll never want to work without. 
                  </div>
              </div>
              <div class="boxes__item__image">
                <img src="{{ theme.link ~ '/images/pr.png' }}" alt="relax">
              </div>
            </div>

            <div class="boxes__item" data-fx="fadeInUpSmall">

              <div class="boxes__item__info">
                  <div class="boxes__item__info__header">
                    <div class="icon">
                      {% include "views/svg/legal.svg" %}
                    </div>

                    <div class="title h7">Legal</div>
                  </div>
                  <div class="text body-medium">
                    Get all vendor contracts, policies, and SLAs under control and in agreement, easily tracking their execution.
                    <br><br>
                    In fact, so easily, you only thought that happened in fairy tales (if fairy tales had contracts.)
                  </div>
              </div>
              <div class="boxes__item__image">
                <img src="{{ theme.link ~ '/images/p2.png' }}" alt="relax">
              </div>
            </div>
            


          </div>
          <div class="right">

            <div class="boxes__item" data-fx="fadeInUpSmall">

              <div class="boxes__item__info">
                  <div class="boxes__item__info__header">
                    <div class="icon">
                      {% include "views/svg/finance.svg" %}
                    </div>

                    <div class="title h7">Finance</div>
                  </div>
                  <div class="text body-medium">
                    Feels like you spend most of your time hunting down people for approvals?
                    <br><br>
                    Logintrade lets you automate that process with tools to control the budget and predict expenses that will transform the way you work (and bring down your stress levels as a nice bonus.)
                  </div>
              </div>
              <div class="boxes__item__image">
                <img src="{{ theme.link ~ '/images/p3.png' }}" alt="relax">
              </div>
            </div>

            <div class="boxes__item" data-fx="fadeInUpSmall">

              <div class="boxes__item__info">
                  <div class="boxes__item__info__header">
                    <div class="icon">
                      {% include "views/svg/it.svg" %}
                    </div>

                    <div class="title h7">IT & Security</div>
                  </div>
                  <div class="text body-medium">
                    Procurement and data security go hand in hand. But if anyone knows that, it’s the IT security team. Who also knows managing users and access levels, sharing documents, and setting up approval paths should be easier – without compromising data security.
                    <br><br>
                    And that’s exactly what Logintrade does.
                  </div>
              </div>
              <div class="boxes__item__image">
                <img src="{{ theme.link ~ '/images/p4.png' }}" alt="relax">
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="clients">
    <div class="row">
      <div class="column">
        <div class="h5" data-fx="fadeInUpSmall">
          Trusted by European innovators and industry leaders.
        </div>
        <div class="clients__list" data-fx="fadeInUpSmall">

       
          <a target="_blank" href="https://www.smithfieldfoods.com/" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/sf.svg' }}" alt="">
          </a>
             {#
          <a target="_blank" href="https://www.trwaftermarket.com/pl/" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/trw.jpg' }}" alt="">
          </a>#}

          <a href="https://www.aramco.com/en?gad_source=1&gclid=CjwKCAiA0PuuBhBsEiwAS7fsNe0iuJT3hD7VR58inMzfdUi7tMdLuaojMXftgue2Xfh99adSVqU0yBoCugsQAvD_BwE" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/Aramco.svg' }}" alt="">
          </a>

           {#
          <a target="_blank" href="https://wireco.com/pl/" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/Aramco.svg' }}" alt="">
          </a>#}

          <a target="_blank"  href="https://www.adama.com/poland-manufacturing/pl" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/adama.svg' }}" alt="">
          </a>
           {#
          <a target="_blank" href="" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/msa.png' }}" alt="">
          </a> #}

                    {#
          <a target="_blank" href="" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/mann.png' }}" alt="">
          </a>
           #}

          <a target="_blank" href="https://www.airbus.com/en" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/airbus.svg' }}" alt="">
          </a>

          <a target="_blank" href="https://www.pl.mahle.com/pl/" class="clients__list__item">
            <img src="{{ theme.link ~ '/images/Mahle.png' }}" alt="">
          </a>

           




        </div>
      </div> 
    </div>
  </section>

  <section class="section-magic">
    <div class="section-magic__arrow">
      {% include "views/svg/arrow-top.svg" %}
    </div>
    <div class="row">
      <div class="column">
        <div class="section-title" data-fx="fadeInUpSmall">Procurement <span>magic</span> that just works<br>(for everyone)</div>

        <div class="boxes">
          <div class="boxes__back">
            {% include "views/svg/lines.svg" %}


          </div>

          <div class="box" data-fx="fadeInUpSmall">

            <img src="{{ theme.link ~ '/images/m1.svg' }}" alt="">
            <div class="title">Works for business</div>
            <div class="text">
              Easier and quicker procurement means actual savings on all sides of the process.
            </div>
          </div>

          <div class="box" data-fx="fadeInUpSmall">

            <img src="{{ theme.link ~ '/images/m2.svg' }}" alt="">
            <div class="title">Works for vendors</div>
            <div class="text">
              Vendors are your strategic partners. And they, too, need to experience the magic.
            </div>
          </div>

          <div class="box" data-fx="fadeInUpSmall">

            <img src="{{ theme.link ~ '/images/m3.svg' }}" alt="">
            <div class="title">Works for you & your team</div>
            <div class="text">
              Because it makes boring day-to-day tasks quicker, easier, and fun to complete.
            </div>
          </div>

          <div class="box" data-fx="fadeInUpSmall">

            <img src="{{ theme.link ~ '/images/m1.svg' }}" alt="">
            <div class="title">Statistics and results</div>
            <div class="text">
              With just a click, conjure up all the online stores, catalogs, product cards.
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <section class="integrations">
    <div class="row">
      <div class="column">
        <div class="pre-title" data-fx="fadeInUpSmall">
          <div class="lines">
            {% include "views/svg/integra-lines.svg" %}

          </div>

          {% include "views/svg/integra.svg" %}

        </div>
        <div class="integrations__header">
          <div class="section-title" data-fx="fadeInUpSmall">
            <span>Integrating</span> with the tools you already use.
          </div>
          <div class="body-medium" data-fx="fadeInUpSmall">
            ERP, GR-IS, productivity, legal – all connected to work together like magic.
          </div>
        </div>
        <div class="integrations__list" data-fx="fadeInUpSmall">

          <a target="_blank" href="https://www.sap.com/poland/index.html" class="integrations__list__item">
            <img src="{{ theme.link ~ '/images/sap.svg' }}" alt="">
          </a>

          <a target="_blank" href="https://www.ifs.com/pl" class="integrations__list__item">
            <img src="{{ theme.link ~ '/images/ifs.png' }}" alt="">
          </a>

          <a target="_blank" href="https://www.oracle.com/pl/" class="integrations__list__item">
            <img src="{{ theme.link ~ '/images/oracle.svg' }}" alt="">
          </a>

          <a target="_blank" href="https://www.dnb.com/pl-pl/" class="integrations__list__item">
            <img src="{{ theme.link ~ '/images/dnb.svg' }}" alt="">
          </a>

          <a target="_blank" href="https://www.google.com/" class="integrations__list__item">
            <img src="{{ theme.link ~ '/images/google.png' }}" alt="">
          </a>
          

        </div>
      </div>
    </div>
  </section>

  <section class="login">
    <img class="login__sign" data-fx="fadeInUpSmall" src="{{ theme.link ~ '/images/logintrade-big.svg' }}" alt="">

    <div class="login__header">

      <div class="spark-left">
        {% include "views/svg/spark-left.svg" %}
      </div>

      <div class="spark-right">
        {% include "views/svg/spark-right.svg" %}
      </div>
      
      <div class="row">
        <div class="column">

            <div class="pre-title" data-fx="fadeInUpSmall">
                {% include "views/svg/login.svg" %}
            </div>

            <div class="section-title" data-fx="fadeInUpSmall">
              Tap into the <span class="span1">collective</span> knowledge<br>of our vendor <span class="span2">network</span>.
            </div>
            <div class="body-medium" data-fx="fadeInUpSmall">
              We’re building a network of vendors to exchange knowledge and best practices in procurement.
              So you can optimize your purchase and spend processes using their tried-and-tested expertise
              (and a bit of AI magic.)
            </div>
            
            <a href="" class="btn book-btn" data-fx="fadeInUpSmall">Book a demo {% include 'svg/arrow-right.svg' %}</a>

        </div>
      </div>
    </div>

    <div class="login__body">

      <div class="login__body__arrow">
        {% include "views/svg/dark-arrow.svg" %}
      </div>

      <div class="row">
        <div class="column">
          <div class="login__body__header">
            <div class="pre-title" data-fx="fadeInUpSmall">
              {% include "views/svg/login2.svg" %}
            </div>
            <div class="section-title" data-fx="fadeInUpSmall">It’s <span>magic</span>, but it’s real.</div>
            <div class="body-medium" data-fx="fadeInUpSmall">
              Here’s what our customers really say
            </div>
          </div>
          {% include "components/reviews.twig" %}


        </div>
      </div>
    </div>

  </section>
  

</main>

{% include "parts/footer.twig" %}
